<p>Email : <%= @user.email %></p>
<p>Name : <%= @user.name %></p>

<h2><%= @user.name %>'s Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.name %></li>
  <% end %>
</ul>

<% if @user.posts.any? %>
  <h3>Posts (<%= @user.posts.count %>)</h3>
  <ol class="microposts">
    <%= render @posts %>
  </ol>
  <%= will_paginate @posts %>
<% end %>
