<li id="post-<%= post.id %>">
  <%= link_to post.user.name, post.user %>
    <span class="content">
      <%= post.content %>
      <br />
      <%= image_tag post.picture.url if post.picture? %>
    </span>
  Posted <%= link_to "#{time_ago_in_words(post.created_at)}", post_path(post) %> ago.

  <% if current_user == post.user %>
        <%= link_to "delete", post, method: :delete,
                                         data: { confirm: "You sure?" } %>
  <% end %>
</li>

  <br />
