<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'RailsFaceBook', root_url %> </h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
  <% if user_signed_in? %>
    <ul class="right">
        <li><%= link_to 'Users', users_path %> </li>
        <li class="divider"></li>
        <li><%= link_to 'Profile', current_user %> </li>
        <li class="divider"></li>
        <li><%= link_to 'Edit', edit_user_registration_path %></li>
        <li class="divider"></li>
        <li><%= link_to 'Sign out', destroy_user_session_path , method: :delete %></li>
  <% end %>
  </section>
</nav>
